<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAPI Characters</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="fetch_data">Загрузить данные</button>
    </form>
    {% if characters %}
        <table>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair Color</th>
            </tr>
            {% for character in characters %}
                <tr>
                    <td>{{ character.name }}</td>
                    <td>{{ character.height }}</td>
                    <td>{{ character.mass }}</td>
                    <td>{{ character.hair_color }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
